
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.form-card {
  max-width: 900px;
  margin: 80px auto;
  padding: 32px;
  border-radius: 16px;
  background: #ffffff; // 卡片背景白色
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.12); // 阴影更柔和
  border: 1px solid #e0e0e0; // 边框浅灰色
}

.form-title {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}




.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px; // 控件之间留白更舒服
   margin: 20px auto 80px;     // 蓝线与下方内容的间距（这里控制）
}

/* 页面整体背景色 */
body {
  background: #f5f5f5; // 淡灰背景，让卡片更突出
}

.form-header {
  text-align: center; // 居中
  margin-bottom: 20px;
  border-bottom: 2px solid #1976d2; // 蓝色下划线
  padding-bottom: 10px;

  h2 {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    color: #333;
    display: inline-flex;
    align-items: center;
    gap: 8px;
  }

  .subtitle {
    font-size: 14px;
    color: #666;
    margin-top: 4px;
  }
}
